#include <stdio.h>

int main()
{
    
    int vektor1[2],vektor2[2],vektor3[2];
    int a,b,toplam;

    printf("Birinci vektoru giriniz:");
    scanf("%d%d",&vektor1[0],&vektor1[1]);
    printf("Ikinci vektoru giriniz:");
    scanf("%d%d",&vektor2[0],&vektor2[1]);

    vektor3[0] = vektor1[0] + vektor2[0];
    vektor3[1] = vektor1[1] + vektor2[1];

    printf("(%d,%d) + (%d,%d) = (%d,%d)",vektor1[0],vektor1[1],vektor2[0],vektor2[1],vektor3[0],vektor3[1]);



    return 0;
}
